In [11]:
import pandas as pd

In [15]:
TABLE='./dev_set_evaluation_results.csv'

In [16]:
results=pd.read_csv(TABLE)

In [17]:
results

               model_name   RMSE  P-RMSE-MEAN  P-RMSE-MAX
0      ft-300-avg-seq-E3a  0.984        0.865       0.117
1  ft-100-lem-avg-seq-E3b  1.320        0.977       0.296
2       ft_100_cnn-mse-E4  0.766        0.927       0.212
3           ft_100_cnn-E5  0.829        0.846       0.082
4           lem-tf-seq-E7  0.629        0.678       0.049
5      ft_100-cnn-deep-E8  0.763        0.796       0.101

In [18]:
results.keys()

Index(['model_name', 'RMSE', 'P-RMSE-MEAN', 'P-RMSE-MAX'], dtype='object')

# Model scores

## RMSE

In [21]:
results.sort_values(by=['RMSE'], axis=0, ascending=True)[['model_name','RMSE']]

               model_name   RMSE
4           lem-tf-seq-E7  0.629
5      ft_100-cnn-deep-E8  0.763
2       ft_100_cnn-mse-E4  0.766
3           ft_100_cnn-E5  0.829
0      ft-300-avg-seq-E3a  0.984
1  ft-100-lem-avg-seq-E3b  1.320

## Mean Partial RMSE

In [22]:
results.sort_values(by=['P-RMSE-MEAN'], axis=0, ascending=True)[['model_name','P-RMSE-MEAN']]

               model_name  P-RMSE-MEAN
4           lem-tf-seq-E7        0.678
5      ft_100-cnn-deep-E8        0.796
3           ft_100_cnn-E5        0.846
0      ft-300-avg-seq-E3a        0.865
2       ft_100_cnn-mse-E4        0.927
1  ft-100-lem-avg-seq-E3b        0.977

## Maximal Partial RMSE

In [24]:
results.sort_values(by=['P-RMSE-MAX'], axis=0, ascending=True)[['model_name','P-RMSE-MAX']]

               model_name  P-RMSE-MAX
4           lem-tf-seq-E7       0.049
3           ft_100_cnn-E5       0.082
5      ft_100-cnn-deep-E8       0.101
0      ft-300-avg-seq-E3a       0.117
2       ft_100_cnn-mse-E4       0.212
1  ft-100-lem-avg-seq-E3b       0.296

## All

In [25]:
results

               model_name   RMSE  P-RMSE-MEAN  P-RMSE-MAX
0      ft-300-avg-seq-E3a  0.984        0.865       0.117
1  ft-100-lem-avg-seq-E3b  1.320        0.977       0.296
2       ft_100_cnn-mse-E4  0.766        0.927       0.212
3           ft_100_cnn-E5  0.829        0.846       0.082
4           lem-tf-seq-E7  0.629        0.678       0.049
5      ft_100-cnn-deep-E8  0.763        0.796       0.101