In [5]:
import pickle
from collections import Counter
from tqdm import tqdm
import pandas as pd
from spacy.lang.en.stop_words import STOP_WORDS
import re

In [6]:
DATASET='/home/kvassay/data/z/data/reviews_train_test_dev1_{}.pickle'
TYPE='lem_tok'

In [16]:
%%time
with open(DATASET.format(TYPE),'rb') as f:
    train,dev,_=pickle.load(f)

CPU times: user 7.38 s, sys: 685 ms, total: 8.06 s
Wall time: 8.01 s

## Without text processing

#### Texts

In [17]:
lengths=[len(x['text']) for x in train]
pd.DataFrame(lengths).describe()

                   0
count  551399.000000
mean       95.317418
std        94.979352
min         3.000000
25%        40.000000
50%        67.000000
75%       116.000000
max      4130.000000

#### Summary

In [18]:
lengths=[len(x['summary']) for x in train]
pd.DataFrame(lengths).describe()

                   0
count  551399.000000
mean        4.896286
std         3.173677
min         1.000000
25%         3.000000
50%         4.000000
75%         6.000000
max        79.000000

## After text processing
(for sequence model padding decision)

In [19]:
ALLOWED_SPECIAL=tuple(['?','!',':(', ':)', ':D',':-)',':-D',':\'(',':/',':-/','<3',':-P',':P'])

In [20]:
rx_special= re.compile("|".join(re.escape(s) for s in ALLOWED_SPECIAL))

def word_filter(word):
    if word in STOP_WORDS:
        return False
    if not word.isalpha():
        if not rx_special.findall(word):
            return False
    else:
        if len(word)<3:
            return False
    return True

def preprocess_text(text):
    return [x.lower() for x in text if word_filter(x.lower())]

def preprocess_texts(dataset,text_keys=['summary','text']):
    for sample in tqdm(dataset):
        for key in text_keys:
            sample[key]=preprocess_text(sample[key])
    return dataset

#### Texts

In [13]:
lengths=[len(x['text']) for x in preprocess_texts(train)]
pd.DataFrame(lengths).describe()

100%|██████████| 551399/551399 [00:17<00:00, 31164.91it/s]

                   0
count  551399.000000
mean       34.099322
std        34.216049
min         0.000000
25%        15.000000
50%        24.000000
75%        41.000000
max      1753.000000

#### Summaries

In [14]:
lengths=[len(x['summary']) for x in preprocess_texts(train)]
pd.DataFrame(lengths).describe()

100%|██████████| 551399/551399 [00:09<00:00, 60688.97it/s]

                   0
count  551399.000000
mean        2.997006
std         1.687624
min         0.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        74.000000